<h2>You are allergic to the below list</h2>
<ul>
  <li><%= @allergy[0]%></li>
  <li><%= @allergy[1]%></li>
  <li><%= @allergy[2]%></li>
  <li><%= @allergy[3]%></li>
  <li><%= @allergy[4]%></li>
  <li><%= @allergy[5]%></li>
  <li><%= @allergy[6]%></li>
  <li><%= @allergy[7]%></li>
</ul>
